:root {
   --green: #17CF81;
   --green-dark: #10A372;
   --green-light: #A2F6B9;
   --blue-dark: #095FAA;
   --blue: #0B79DA;
   --blue-light: #86BEF9;
   --gray01: #041C43;
   --gray02: #293A56;
   --gray04: #94A2B8;
   --gray-light01: #EDF3F8;
   --gray-light02: #F8FAFD;
   --white: #FFFFFF;
   --gray00: #03132E;
   --green-light02: #D0FBDC;
   --gray03: #576275;
}

body {
   min-height: 100vh;
   background-color: var(--gray-light01);
   font-family: 'Nunito Sans', sans-serif;
}

.header-bg {
   background-image: url(../img/foto-topo-home-recebe-mais.png);
   background-repeat: no-repeat;
   background-size: 100% auto;
   max-width: 1440px;
   margin: 0 auto;
   padding-top: 60px;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

header nav {
   display: flex;
   justify-content: space-between;
}

header ul {
   padding: 0;
   margin: 0;
   list-style: none;
}

header nav ul {
   display: flex;
   gap: 35px;
   align-items: center;
   flex-flow: row;
}

header a {
   color: var(--gray03);
   text-decoration: none;
}

.btn-login {
   padding: 10px 25px;
   border: 1px solid var(--gray01);
   color: var(--gray01);
   border-radius: 7px;
   font-weight: 600;
}

.btn-verde {
   padding: 10px 25px;
   background-color: var(--green);
   color: var(--white);
   border-radius: 7px;
   font-weight: 600;
   text-decoration: none;
   box-shadow: 10px 15px 20px rgba(26, 230, 144, 0.2);
}

header h1 {
   margin-top: 95px;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   font-size: 3.5em;
   color: var(--gray01);
}

header p {
   color: var(--gray03);
   font-size: 1.25em;
   margin-top: 30px;
}

header .informacoes {
   margin-top: 30px;
}

header .informacoes ul, header .informacoes li {
   display: flex;
   flex-direction: row;
   gap: 12px;
}

header .informacoes ul {
   gap: 50px;
}

header .informacoes li p {
   margin: 0;
}

header .info--span {
   color: var(--green);
   font-weight: 900;
}

header .acoes {
   color: var(--gray01);
   margin-top: 40px;
   padding-bottom: 175px;
}

header .acoes ul {
   display: flex;
   flex-direction: row;
   gap: 30px;
}
header .acoes ul li {
   display: flex;
   align-items: center;
}

header .acoes .seta-baixo {
   margin-left: 10px;
}

header .acoes ul a {
   display: flex;
}

header .acoes--saber-mais {
   padding: 15px 2px 15px 20px;
}

main.container {
   padding-top: 250px;
}

.section--informacoes1 {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.section--informacoes1 h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 2.1875em;
   font-weight: 600;
   color: var(--gray01);
   margin: 0;
}

.section--informacoes1 h3 {
   font-size: 1.25em;
   margin-top: 30px;
   line-height: 1.875rem;
   color: var(--gray03);
   font-weight: 400;
}

.section--informacoes1 .pros {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 50px 60px;
}

.section--informacoes1 .pros div {
   display: flex;
   gap: 25px;
   flex-direction: row;
   font-family: 'Poppins', sans-serif;
   font-size: 	1.25em;
   columns: var(--gray01);
}

.section--informacoes1 img {
   width: 60px;
}

.section--informacoes1 h4 {
   margin: 0;
   font-weight: 500;
   color: var(--gray01);
}

.section--informacoes2 {
   margin-top: 160px;
   display: grid;
   gap: 180px;
   grid-template-columns: 1fr 1fr 1fr;
}

.section--informacoes2 img {
   width: 35px;
   height: 35px;
}

.section--informacoes2 h3 {
   font-family: 'Poppins', sans-serif;
   font-size: 1.25rem;
   color: var(--gray01);
   font-weight: 500;
}

.section--informacoes2 p {
   font-size: 1.125rem;
   font-weight: 500;
}

.section--informacoes3 {
   text-align: center;
}

.section--informacoes3 h3 {
   margin: 151px 205px 60px;
   font-size: 1.5625rem;
   font-weight: 400;
}

.section--informacoes3 a {
   font-weight: 600;
   display: inline-block;
}

.section--produto {
   box-sizing: border-box;
   margin-top: 150px;
   padding: 0 50px;
}

.funcionalidades--principais h2 {
   margin: 0 290px;
   color: var(--gray01);
   font-family: 'Poppins', sans-serif;
   font-size: 2.1875rem;
   font-weight: 600;
   padding: 150px 0 125px;
   font-size: 2.1875rem;
   font-weight: 600;
   text-align: center;
}

.produto--funcionalidades {
   background-color: #fff;
   border-radius: 20px;
}

.funcionalidades--principais {
   border-bottom: 2px solid var(--gray-light01);
}

.principais--item {
   display: flex;
   margin: 0 -50px;
   flex-direction: row;
   gap: 130px;
   align-items: center;
   padding-bottom: 150px;
}

.principais--item:nth-child(2n) {
   justify-content: flex-end;
}

.principais--item .azul {
   width: 555px;
   height: 410px;
   border-radius: 10px;
   background-color: var(--gray01);
}

.principais--item .verde {
   width: 35px;
   height: 35px;
   border-radius: 5px;
   background-color: var(--green);
}

.item--descricao {
   width: 312px;
}

.item--descricao h3 {
   margin-top: 18px;
   font-size: 1.5625rem;
}

.item--descricao p {
   margin-top: 15px;
   font-size: 1.25rem;
}

.funcionalidades--mais-recursos {
   font-family: 'Poppins', sans-serif;
}

.funcionalidades--mais-recursos h3 {
   margin: 0;
   padding: 150px 0 75px;
   font-size: 1.5625rem;
   font-weight: 600;
   color: var(--gray01);
   text-align: center;
}

.item--row {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding-bottom: 55px;
}

.row--item {
   width: 180px;
   font-size: 1.25rem;
   color: var(--gray01);
   font-weight: 500;
}

.item--azul {
   width: 35px;
   height: 35px;
   border-radius: 5px;
   background-color: var(--gray01);
}

.funcionalidades--acao {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 105px;
   background-color: var(--gray01);
   border-radius: 0 0 20px 20px;
   font-family: 'Poppins', sans-serif;
}

.funcionalidades--acao h2 {
   font-size: 1.875rem;
   font-weight: 600;
   color: var(--white);
   margin: 0;
}

.funcionalidades--acao a {
   display: flex;
   padding: 18px 35px;
   background-color: var(--white);
   border-radius: 7px;
   text-decoration: none;
   color: var(--gray01);
}

.sombra {
   box-shadow: 10px 15px 20px rgba(4, 28, 67, 0.2);
}
